@import url("https://fonts.googleapis.com/css2?family=Literata:opsz@7..72&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cutive&family=Glegoo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
}
body {
  background: rgb(255,255,255);
  background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 0%, rgba(142,142,142,1) 100%);
}
